@import url('./blocks/app/app.css');
@import url('./blocks/row/row.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/_type/card_type_2to1.css');
@import url('./blocks/card/_type/card_type_dashed.css');
@import url('./blocks/card/_type/card_type_hidden.css');
@import url('./blocks/card/_type/card_type_switched.css');
@import url('./blocks/card/_color/card_color_red.css');
@import url('./blocks/card/_color/card_color_yellow.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_is-open/popup_is-open.css');
@import url('./blocks/textField/textField.css');




#root{
  background-color: black;
  
}


body{
  background-color:#00933B;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav ul ul{
  position: absolute;
  display: none;
}

